@*<div id="banner" class="banner">
    <div class="banner-image"></div>
    <div class="banner-caption">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2 col-md-8 col-md-offset-4 object-non-visible" data-animation-effect="fadeIn">
                    <h2 class="text-center">Печать фотографий</h2>
                    <p class="lead text-center">Добавляй хэштег <span>#foto2mail</span> на свои фото ВКонтакте и мы пришлем на почту распечатаные</p>
                </div>
            </div>
        </div>
    </div>
</div>*@

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Печать фотографий</h2>
                <hr class="light">
                <p class="text-faded">Добавляй хэштег <span>#foto2mail</span> на свои фото ВКонтакте и мы пришлем на почту распечатаные!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>